* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1600spx;
    margin: 0 auto;
}

main {
    height: calc(100vh - 70px);
    display: flex;
}

.big-nav {
    width: 250px;
    background-color: rgb(0, 0, 0);
}

.small-nav {
    display: none;
    width: 50px;
    background-color: rgb(0, 0, 0);
}

.right {
    width: calc(100% - 250px);
    background-color: rgb(50, 56, 66);
    color: white;
    overflow: scroll;
}

.right-top {
    background-color: rgb(39, 40, 39);
    height: 70px;
    text-align: right;
    line-height: 70px;

}

.right-top>button {
    color: white;
    background-color: rgb(8, 11, 18);
    font-size: 11px;
    padding: 10px 0px;
    font-weight: 600;
    width: 200px;
    border: 1px solid white;
    border-radius: 20px;
}

.right>ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 25px;
    list-style-type: none;
    color: gray;
    margin: 20px 0px;
    font-size: 15px;
    font-weight: bold;
}

section {
    width: 97%;
    margin: 0 auto;
}

section>h2 {
    padding: 10px 0px;
    font-size: 28px;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 10px;
    margin: 25px 0px;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2 - 10px);
    max-width: calc((100% / 12) * 2 - 10px);
    text-align: center;
}

.col-2 img {
    max-width: 100%;
}

.col-2 h3 {
    padding: 8px 0px;
    line-height: 19px;
    font-size: 17px;
}

p {
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

footer {
    height: 70px;
    background-color: rgb(40, 40, 40);
    position: sticky;
}



/* RESPONSIVE */

@media screen and (max-width: 878px) {
    [class*="col-"] {
        flex-basis: calc((100% / 12) * 3 - 10px);
        max-width: calc((100% / 12) * 3 - 10px);
    }
}

@media screen and (max-width: 639px) {
    [class*="col-"] {
        flex-basis: calc((100% / 12) * 6 - 10px);
        max-width: calc((100% / 12) * 6 - 10px);
    }
}

@media screen and (max-width: 552px) {
    [class*="col-"] {
        flex-basis: calc((100% / 12) * 6 - 10px);
        max-width: calc((100% / 12) * 6 - 10px);
    }

    .big-nav {
        display: none;
    }

    .small-nav {
        display: block;
    }

    .right {
        width: calc(100% - 50px);
    }